.clearfix:before, .clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000;
}
#page {
	margin: 0 auto;
	padding: 50px 0 0 0;
	width: 960px;
}
#select-type ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#select-type ul li {
	float: left;
	margin: 0 2px 2px 0;
	padding: 1px;
	cursor: pointer;
	border: 2px solid #eee;
}
#select-type ul li:hover {
	border: 2px solid #f00;
}
#select-type ul li.selected {
	border: 2px solid #f00;
	background: url("../images/icon-select.png") 100% 100% no-repeat;
}
#select-type ul li img {
	position: relative;
	z-index: -1;
	background: none !important;
	display: block;
}
#select-type ul li img {
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}





























