.year-1953-text { background-position: 0 0; width: 97px; height: 58px; } 
.year-1954-text { background-position: 0 -108px; width: 101px; height: 58px; } 
.year-1955-text { background-position: 0 -216px; width: 101px; height: 58px; } 
.year-1956-text { background-position: 0 -324px; width: 97px; height: 58px; } 
.year-1957-text { background-position: 0 -432px; width: 96px; height: 58px; } 
.year-1958-text { background-position: 0 -540px; width: 99px; height: 58px; } 
.year-1961-text { background-position: 0 -648px; width: 92px; height: 58px; } 
.year-1962-text { background-position: 0 -756px; width: 93px; height: 58px; } 
.sprite-generation-years_09{ background-position: 0 -864px; width: 208px; height: 192px; } 
.sprite-generation-years_10{ background-position: 0 -1106px; width: 776px; height: 8px; } 
.year-1964-text { background-position: 0 -1164px; width: 97px; height: 56px; } 
.year-1965-text { background-position: 0 -1270px; width: 101px; height: 56px; } 
.year-1967-text { background-position: 0 -1376px; width: 89px; height: 56px; } 
.sprite-generation-years_14{ background-position: 0 -1482px; width: 489px; height: 65px; } 
.sprite-generation-years_15{ background-position: 0 -1597px; width: 287px; height: 9px; } 
.year-1970-text { background-position: 0 -1656px; width: 97px; height: 61px; } 
.year-1971-text { background-position: 0 -1767px; width: 89px; height: 61px; } 
.year-1976-text { background-position: 0 -1878px; width: 92px; height: 61px; } 
.year-1977-text { background-position: -826px 0; width: 90px; height: 61px; } 
.sprite-generation-years_20{ background-position: -826px -111px; width: 408px; height: 61px; } 
.year-1984-text { background-position: -826px -222px; width: 97px; height: 66px; } 
.year-1985-text { background-position: -826px -338px; width: 101px; height: 66px; } 
.year-1986-text { background-position: -826px -454px; width: 101px; height: 66px; } 
.year-1987-text { background-position: -826px -570px; width: 89px; height: 66px; } 
.year-1988-text { background-position: -826px -686px; width: 104px; height: 66px; } 
.year-1989-text { background-position: -826px -802px; width: 107px; height: 66px; } 
.year-1990-text { background-position: -826px -918px; width: 97px; height: 66px; } 
.year-1991-text { background-position: -826px -1034px; width: 91px; height: 66px; } 
.year-1993-text { background-position: -826px -1150px; width: 95px; height: 66px; } 
.year-1994-text { background-position: -826px -1266px; width: 102px; height: 66px; } 
.year-1997-text { background-position: -826px -1382px; width: 97px; height: 63px; } 
.year-1998-text { background-position: -826px -1495px; width: 101px; height: 63px; } 
.year-1999-text { background-position: -826px -1608px; width: 101px; height: 63px; } 
.year-2000-text { background-position: -826px -1721px; width: 106px; height: 63px; } 
.year-2001-text { background-position: -826px -1834px; width: 96px; height: 63px; } 
.year-2002-text { background-position: -826px -1947px; width: 98px; height: 63px; } 
.year-2003-text { background-position: -1652px 0; width: 108px; height: 63px; } 
.year-2004-text { background-position: -1652px -113px; width: 103px; height: 63px; } 
.sprite-generation-years_39{ background-position: -1652px -226px; width: 174px; height: 126px; } 
.year-2007-text { background-position: -1652px -402px; width: 97px; height: 63px; } 
.year-2008-text { background-position: -1652px -515px; width: 110px; height: 63px; } 
.year-2009-text { background-position: -1652px -628px; width: 106px; height: 63px; } 
.year-2010-text { background-position: -1652px -741px; width: 102px; height: 63px; } 
.year-2011-text { background-position: -1652px -854px; width: 86px; height: 63px; } 
.year-2012-text { background-position: -1652px -967px; width: 90px; height: 63px; } 
.year-2013-text { background-position: -1652px -1080px; width: 105px; height: 63px; } 
.sprite-generation-years_47{ background-position: -1652px -1193px; width: 114px; height: 63px; } 

