body, p, h1, h2, h3, h4, h5, h6 {
	font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
}

body {
	margin: 0;
	padding: 0;
	background: #bccdd9;
}

a {
	color: #289035;
	text-decoration: underline;
}

/* Header */

.wrap {
	margin: 0;
	padding: 35px 0;
	background: #cdd4d5;
}

.header {
	background: #289035;
	border-bottom: 5px solid #bccdd9;
}

.header h1 {
	color: #fff !important;
	font: normal 33px 'museo-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 33px;
}

.header p {
	color: #fff;
	font: normal 11px 'museo-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 5px;
	line-height: 11px;
	letter-spacing: 2px
}

/* Content */

.content {
	padding-bottom: 20px;
}

.content h2 {
	font-weight: normal;
	margin: 0 0 10px;
	padding: 0;
	line-height: 1.5em;
	font-size: 23px;
	font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content p {
	color: #3c3b3b;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 20px;
	font-size: 12px;
	font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Right Col */

.sidebar {
	padding-bottom: 20px;
}

.sidebar ul {
	color: #4c6777;
	margin: 10px 0 0 10px;
	padding: 0 0 0 5px;
	font-size: 12px;
	font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar ul li {
	padding: 0 0 5px;
	margin: 0;
	line-height: 1.4em;
}

.sidebar p {
	color: #555;
	font: normal 11px 'museo-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 16px;
	margin: 0;
	padding: 0;
	background: #fff;
}

.right_col_title {
	padding: 25px 0 5px;
	border-bottom: 2px solid #ddd;
	text-align: center;
}

.right_col_title h3 {
	font-weight: normal;
	margin: 20px 0 0;
	padding: 0;
	line-height: 13px;
	font-size: 13px;
}

.right_col {
	padding: 10px 0 0;
}

/* Footer */

.footer {
	text-align: center;
	background: #289035;
	padding: 15px 0;
	font-size: 11px;
	color: #fff;
	margin: 0;
	line-height: 1.2;
}

.footer p {
	padding: 0;
	font-size: 11px;
	color: #fff;
	margin: 0;
	font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer a {
	color: #fff;
	text-decoration: underline;
}