/* Clear Floats Without Structural Markup */
.clearfix:before, .clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
/* General */
body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "MyriadPro-Regular", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #000;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border: none;
}
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-family: "MyriadPro-BoldCond", "myriad-pro-n7", "myriad-pro", sans-serif;
	font-style: normal;
	font-weight: 700;
	color: #000000;
}
h1 {
	font-size: 22px;
}

h2 {
	font-size: 17px;
}

h3 {
	font-size: 15px;
}

h4 {
	font-size: 13px;
}
blockquote {
	margin: 0;
	padding: 1em 2em;
}
.container {
	margin: 0 auto;
	width: 950px;
}
.input-label-wrap {
	position: relative;
}
.input-label-wrap label {
	position: absolute;
}

/* header */
#header-wrap {
	margin-bottom: 10px;
	height: 100px;
	background: #9ccb48;
}
#header {
	width: 970px;
}
#header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#header .spacing {
	float: left;
	width: 10px;
	height: 100px;
	background: #fff;
}
#logo {
	float: left;
}
#logo a {
	float: left;
}
#logo a img {
	display: block;
}
#header .contact {
	float: left;
	width: 620px;
	height: 100%;
}
#header .contact span {
	display: block;
	float: left;
	width: 450px;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n4", "prenton-condensed",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	text-align: right;
	line-height: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#header .contact span strong {
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n7", "prenton-condensed",sans-serif;
	font-weight: 700;
	letter-spacing: 7px;
}
#header .contact ul {
	float: right;
	margin-top: 37px;
	margin-left: 0;
	margin-right: 30px;
}
#header .contact ul li {
	float: left;
	margin: 0 0 0 5px;
}
#header .download-course {
	float: left;
}
#header .download-course .content {
	float: left;
	padding-left: 18px;
	padding-right: 14px;
}
#header .download-course .content span {
	display: block;
	float: left;
	padding: 23px 10px 0 0;
	width: 80px;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n7", "prenton-condensed", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
}
#header .download-course .content span a {
	color: #000;
}
#header .download-course .content span a:hover {
	text-decoration: none;
}
#header .download-course .content img {
	display: block;
	float: left;
	margin-top: 8px;
}
/* nav-wrap */
#nav-wrap {
	margin-bottom: 20px;
	height: 60px;
	background: #00a2de;
}
#nav {
	width: 970px;
}
#nav ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 0 0 10px;
}
#nav ul li {
	position: relative;
	float: left;
	height: 100%;
	border-right: 1px solid #1482b5;
}
#nav ul li a {
	display: block;
	float: left;
	padding: 0 24px;
	line-height: 60px;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n7", "prenton-condensed", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
#nav ul li.last {
	border-right: none;
}
#nav ul li.last a {
	padding: 0;
	text-align: center;
}
#nav ul li:hover,
#nav ul li.current {
	background: #1482b5;
}
#nav ul li a:hover {
	text-decoration: none;
}
#nav ul li .submenu {
	visibility: hidden;
	position: absolute;
	top: 60px;
	left: 0;
	z-index: 10;
	padding: 24px 0 0 0;
	width: 950px;
	background: #fff;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
#nav ul li:hover .submenu {
	visibility: visible;
}
#nav ul li .submenu .arrow {
	position: absolute;
	top: -7px;
	left: 30px;
	z-index: 11;
}
#nav ul li .submenu .col {
	float: left;
	padding: 0 10px;
	width: 209px;
	border-right: 1px solid #f0f1f1;
}
#nav ul li .submenu .col.last {
	border-right: none;
}
.courses-list h4 {
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 11px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#nav ul li .submenu ul {
	float: none;
	margin-bottom: 20px;
	padding: 0;
}
#nav ul li .submenu ul.last {
	margin-bottom: 0;
}
#nav ul li .submenu ul li {
	float: none;
	margin-bottom: 5px;
	height: auto;
	border-right: none;
}
.courses-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.courses-list ul li a {
	float: none !important;
	padding: 0 !important;
	line-height: normal !important;
	background: none !important;
	font-family: "MyriadPro-Regular", "myriad-pro-n4", "myriad-pro", sans-serif !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 15px !important;
	color: #00a2de !important;
	text-transform: none !important;
	white-space: nowrap;
}
.courses-list ul li a:hover {
	background: #fff !important;
	text-decoration: underline !important;
}
.courses-list hr {
	margin: 5px 0;
	padding: 0;
	border: none;
	height: 10px;
}
.courses-list hr.c1 {
	background: #fbad18;
}
.courses-list hr.c2 {
	background: #a3cb46;
}
.courses-list hr.c3 {
	background: #9ac8df;
}
.courses-list hr.c4 {
	background: #7a6b91;
}
.courses-list hr.c5 {
	background: #d2495c;
}
.courses-list hr.c6 {
	background: #74cac3;
}
.courses-list hr.c7 {
	margin-top: 16px;
	margin-bottom: 0;
	background: #1482b5;
}

#nav .input-label-wrap {
	float: right;
}
#nav .input-label-wrap label {
	top: 20px;
	left: 30px;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n7", "prenton-condensed", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
	z-index: 10;
}
#nav input {
	display: block;
	float: left;
	padding: 0 37px 0 20px;
	width: 143px;
	height: 60px;
	line-height: 60px;
	border: 1px solid #e7e7e7;
	background: #fafafa url(../images/icon-search.png) 95% 50% no-repeat;
}
#nav .spacing {
	float: left;
	width: 10px;
	height: 62px;
	background: #fff;
}

/* banner-wrap */
#banner-wrap {
	margin-bottom: 20px;
	height: 328px;
	background-image: url(../images/dummy/img01.jpg);
	background-position: 50% top;
}
#banner .boxes {
	width: 600px;
}
#banner .boxes .box {
	float: left;
	padding: 0 8px;
	width: 134px;
	height: 150px;
}
#banner .boxes .box a {
	display: block;
	width: 100%;
	height: 100%;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 11px;
	line-height: 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
#banner .boxes .box a:hover {
	text-decoration: none;
}
#banner .boxes .box a table {
	width: 100%;
	height: 100%;
	border: none;
	border-collapse: collapse;
}
#banner .boxes .box a table td {
	vertical-align: central;
	text-align: center;
}

#banner .boxes .box1 {
	background: url(../images/banner-box-bg1.png) repeat;
}
#banner .boxes .box2 {
	background: url(../images/banner-box-bg2.png) repeat;
}
#banner .boxes .box3 {
	background: url(../images/banner-box-bg3.png) repeat;
}
#banner .boxes .box6 {
	background: url(../images/banner-box-bg4.png) repeat;
}
#banner .boxes .box7 {
	background: url(../images/banner-box-bg5.png) repeat;
}
#banner .boxes .box8 {
	background: url(../images/banner-box-bg6.png) repeat;
}


#content {
	margin-bottom: 20px;
}
#home #content .top {
	margin-bottom: 19px;
	padding-bottom: 16px;
	border-bottom: 1px solid #666666;
}
#ace-locations {
	float: left;
	width: 230px;
}
#ace-locations h2,
#news h2,
#top-courses h2,
#about-ace h2 {
	margin: 0 0 10px 0;
	padding: 0 0 0 10px;
	height: 40px;
	line-height: 40px;
	background: #1e9ad4;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#news {
	float: left;
	margin: 0 10px;
	width: 470px;
}
#news ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#news ul li {
	margin-bottom: 6px;
}
#news ul li.last {
	margin-bottom: 0;
}
#news ul li .img-link {
	display: block;
	float: left;
	margin-right: 9px;
	border: 1px solid #ccc;
}
#news ul li .img-link img {
	display: block;
	float: left;
}
#news ul li table {
	border: none;
	border-collapse: collapse;
	height: 83px;
}
#news ul li table td {
	vertical-align: central;
}
#news ul li table h3 {
	margin: 0;
	color: #00a2de;
}
#news ul li table p {
	margin: 0;
}
#news ul li table p a {
	color: #00a2de;
	text-transform: uppercase;
}
#new-course-guide {
	float: left;
	width: 230px;
}
#top-courses {
	float: left;
	margin-right: 10px;
	width: 590px;
}
#top-courses h2 {
	background: #9ccb48;
}
#top-courses .content {
	padding: 15px 0 15px 20px;
	background: #f5fbfe;
}
#top-courses .content .col {
	float: left;
	width: 195px;
}
#top-courses .content .col ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#top-courses .content .col1 {
	margin-right: 106px;
}

#top-courses .content h3,
#top-courses .content h4,
#top-courses .content p {
	margin: 0;
	padding: 0;
}
#top-courses .content .desc {
	margin-bottom: 15px;
}
#top-courses .content .desc h3 {
	margin-bottom: 5px;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}
#top-courses .content .desc p.highlight {
	margin-bottom: 5px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	color: #00a2de;
}
#top-courses .content .desc h4 {
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
}
#top-courses .content .desc p {
	margin-bottom: 15px;
	line-height: 20px;
}
#top-courses .content .enrol-here {
	display: block;
	width: 80px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	background: #91c853;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}
#top-courses .content .enrol-here:hover {
	text-decoration: none;
}
#top-courses .content ul li {
	margin-bottom: 10px;
}
#top-courses .content ul li h4 {
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
}
#top-courses .content .read-more {
	font-size: 10px;
	color: #00a2de;
	text-transform: uppercase;
}
#about-ace {
	float: left;
	width: 350px;
}
#about-ace h2 {
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed", sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	color: #fff;
}
#about-ace p {
	margin: 15px 0;
	padding: 0 10px;
	font-size: 13px;
	line-height: 18px;
}
#about-ace div img {
	display: block;
	float: left;
	margin-right: 10px;
}
#about-ace div p {
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	width: 230px;
}
#footer-wrap {
	overflow: hidden;
	background: #00a2de;
}
#footer {
	position: relative;
}
#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer .site-links {
	padding-top: 14px;
	width: 727px;
}
#footer .site-links .col {
	float: left;
	width: 175px;
}
#footer .site-links h3 {
	margin-bottom: 5px;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 11px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#footer .site-links ul li {
	height: 22px;
	margin-bottom: 3px;
}
#footer .site-links a {
	color: #fff;
}
#footer ul.social-list {
	overflow: hidden;
	margin: 13px 0 18px 0;
	width: 300px;
}
#footer ul.social-list li {
	float: left;
	margin-right: 5px;
}
#footer .bottom-text {
	width: 727px;
}
#ace-newsletter {
	position: absolute;
	top: 0;
	right: -10px;
	background: #98ddf6;
	*overflow: hidden;
	*height: 313px;
}
#ace-newsletter .spacing {
	float: left;
	width: 10px;
	height: 320px;
	background: #fff;
	*height: 313px;
}
#ace-newsletter form {
	overflow: hidden;
	float: left;
	padding: 15px 0 18px 0;
	width: 230px;
}
#ace-newsletter form h4 {
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#ace-newsletter form span {
	display: block;
	margin-bottom: 13px;
	font-family: "MyriadPro-Regular", "prenton-condensed-n4", "prenton-condensed", sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	text-align: center;
}
#ace-newsletter form .input-label-wrap {
	width: 190px;
	height: 30px;
	margin: 0 auto 10px auto;
}
#ace-newsletter form .input-label-wrap label {
	top: 6px;
	left: 10px;
}
#ace-newsletter form input {
	display: block;
	padding: 0 10px;
	width: 170px;
	height: 30px;
	line-height: 30px;
	border: none;
	background: #d6f1fb;
}
#ace-newsletter form .submit {
	margin: 20px auto 15px auto;
	width: 190px;
	height: 40px;
	line-height: 40px;
	background: #9ccb48;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	color: #000;
	cursor: pointer;
	letter-spacing: 1px;
}
#ace-newsletter form .update-detail {
	display: block;
	float: left;
	margin-left: 20px;
	color: #1482b5;
}
#footer-wrap hr {
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background: #1a8bc1;
}
#footer-wrap .bottom-text {
	height: 49px;
	line-height: 49px;
	font-family: "MyriadPro-Regular", "prenton-condensed-n5", "prenton-condensed",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #98ddf6;
	letter-spacing: 1.5px;
	word-spacing: 3px;
}
#footer-wrap .bottom-text strong {
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
}

#content .courses-list {
	
}
#content .courses-list .row {
	margin-bottom: 20px;
}
#content .courses-list .row.last {
	margin-bottom: 0;
}
#content .courses-list .row .col {
	float: left;
	width: 310px;
}
#content .courses-list .row .col.mid {
	margin: 0 10px;
}
#content .courses-list .row .col img {
	display: block;
	margin-bottom: 18px;
}
#content .courses-list .row .col .content {
	padding: 0 10px;
}
#content .courses-list .row .col .content h4 {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 2.1px;
}
#content .courses-list .row .col ul li {
	margin-bottom: 5px;
}


#secondary {
	float: left;
	width: 230px;
}
#secondary h3 {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	background: #00a2de;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#secondary ul {
	list-style: none;
	margin: 12px 0;
	padding: 10px;
	background: #e7f2f7;
}
#secondary ul li {
	margin-bottom: 7px;
}
#secondary ul li a {
	font-size: 15px;
	font-weight: 700;
	color: #000;
}
#secondary ul li ul {
	margin: 0 0 15px 0;
	padding: 0 0 0 10px;
}
#secondary ul li ul li {
	margin: 3px 0;
}
#secondary ul li ul li a {
	font-weight: 400;
	color: #00a2de;
}
#secondary ul li ul li.current a {
	color: #000;
}
#primary {
	float: right;
	width: 710px;
}
#course-category #primary h1,
#course-detail #primary h1 {
	margin: 0 0 10px 0;
	height: 40px;
	line-height: 40px;
	padding-left: 11px;
	background: #fbad18;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#course-category #primary .hero {
	margin-bottom: 10px;
	padding: 15px 12px;
	background: #febd4c;
}
#course-category #primary .hero h2 {
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 19px;
	color: #fff;
	text-transform: uppercase;
}
#course-category #primary .hero p {
	margin: 5px 0;
	line-height: 21px;
}
.course-section {
	margin-bottom: 24px;
	border-top: 2px solid #000;
}
.course-section .top {
	border-bottom: 1px solid #000;
}
.course-section .top table {
	float: left;
	width: 457px;
	height: 68px;
	border: none;
	border-collapse: collapse;
}
.course-section .top table td {
	vertical-align: central;
}
.course-section .top h3 {
	padding-left: 10px;
	line-height: normal;
	font-size: 16px;
	color: #00a2de;
	text-transform: uppercase;
}
.enrol-now {
	display: block;
	float: right;
	margin-top: 17px;
	padding: 0 35px;
	height: 29px;
	line-height: 29px;
	background: #9ccb48;
	font-family: "GillSansMTPro-Bold", "prenton-condensed-n9", "prenton-condensed",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2.6px;
}
.enrol-now:hover {
	text-decoration: none;
}
.course-section .bottom {
	padding-top: 15px;
}
.course-section .bottom .left {
	float: left;
	padding-left: 10px;
	width: 440px;
}
.course-section .bottom .left ul {
	margin: 0;
	padding: 0 0 0 15px;
}
.course-section .bottom .left ul li {
	margin: 3px 0;
}
.course-section .bottom .left .uppercase {
	margin: 0 0 16px 0;
	font-size: 13px;
	text-transform: uppercase;
}
.course-section .bottom .left .uppercase strong {
	font-weight: 700;
}
.course-section .bottom .right {
	float: right;
	width: 240px;
}
.course-section .bottom .right .flag {
	float: left;
}
.course-right-block {
	float: right;
	width: 168px;
}
.course-right-block select {
	width: 100%;
	margin-bottom: 11px;
}
.course-right-block p {
	margin: 0;
	font-size: 13px;
	line-height: 23px;
	color: #000;
	text-transform: uppercase;
}
.course-right-block ul {
	overflow: hidden;
	list-style: none;
	margin: 13px 0 0 0;
	padding: 0;
}
.course-right-block ul li {
	float: left;
	margin-right: 3px;
}
.course-right-block ul li a {
	display: block;
	float: left;
}

#primary .course-detail {
	border-top: 2px solid #000;
}
#primary .course-detail .title {
	border-bottom: 1px solid #000;
}
#primary .course-detail .title table {
	float: left;
	height: 68px;
	border: none;
	border-collapse: collapse;
}
#primary .course-detail .title table td {
	vertical-align: central;
}
#primary .course-detail .title h2 {
	margin: 0;
	padding-left: 11px;
	font-size: 16px;
	text-transform: uppercase;
}
#primary .course-detail .title .enrol-now {
	float: right;
}
#primary .course-detail .content {
	padding-top: 16px;
}
#primary .course-detail .content .left {
	float: left;
	padding-left: 11px;
	width: 520px;
}
#primary .course-detail .content .right {
	float: right;
	width: 176px;
}
#primary .course-detail .content .left .code {
	margin-bottom: 15px;
}
#primary .course-detail .content .left .code .text {
	float: left;
	width: 430px;
}
#primary .course-detail .content .left .code .text span {
	font-size: 13px;
	text-transform: uppercase;
}
#primary .course-detail .content .left .code .text blockquote {
	margin-top: 16px;
	padding: 0;
}
#primary .course-detail .content .left .code .text blockquote p {
	margin: 0;
	font-style: italic;
}
#primary .course-detail .content .left .code img {
	display: block;
	float: right;
}
#primary .course-detail .content .left .desc {
	margin-bottom: 28px;
}
#primary .course-detail .content .left .desc h3 {
	margin-bottom: 10px;
}
#primary .course-detail .content .left .desc p {
	margin: 0 0 15px 0;
}
#primary .course-detail .content .left .desc ul {
	margin: 0;
	padding: 0 0 0 15px;
}
#primary .course-detail .content .left .desc ul li {
	margin: 5px 0;
}
#primary .course-detail .content .left .gallery {
	margin-bottom: 10px;
	padding: 18px 0 18px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
#primary .course-detail .content .left .gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#primary .course-detail .content .left .gallery .col {
	float: left;
}
#primary .course-detail .content .left .gallery a {
	color: #00a2de;
}
#primary .course-detail .content .left .gallery .col1 {
	width: 157px;
}
#primary .course-detail .content .left .gallery .col1 h4 {
	font-size: 15px;
}
#primary .course-detail .content .left .gallery .col1 .download {
	display: block;
	margin: 8px 0 16px 0;
	font-size: 15px;
}
#primary .course-detail .content .left .gallery .col1 .required {
	font-size: 9px;
	color: #888;
}
#primary .course-detail .content .left .gallery .col1 .required span {
	display: block;
	font-size: 12px;
}
#primary .course-detail .content .left .gallery .col1 .required a {
	text-decoration: underline;
	font-size: 12px;
	color: inherit;
}
#primary .course-detail .content .left .gallery .col2 {
	width: 100px;
	margin: 0 70px 0 18px;
}
#primary .course-detail .content .left .gallery .col2 h4 {
	margin-bottom: 8px;
}
#primary .course-detail .content .left .gallery .col2 img {
	display: block;
	margin: 0 0 10px 0;
}
#primary .course-detail .content .left .gallery .col3 {
	width: 170px;
}
#primary .course-detail .content .left .gallery .col3 h4 {
	margin-bottom: 8px;
	padding-left: 3px;
}
#primary .course-detail .content .left .gallery .col3 ul {
	overflow: hidden;
	
}
#primary .course-detail .content .left .gallery .col3 ul li {
	float: left;
	margin: 0 10px 10px 0;
}
#primary .course-detail .content .left .gallery .col3 ul li.last {
	margin-right: 0;
}
#primary .course-detail .content .left .gallery .col3 ul li a {
	display: block;
	float: left;
}
#primary .course-detail .content .left .testimonial h4 {
	margin-bottom: 10px;
	font-size: 15px;
}
#primary .course-detail .content .left .testimonial blockquote {
	margin-bottom: 15px;
	padding: 0;
}
#primary .course-detail .content .left .testimonial blockquote p {
	margin: 0;
	padding: 0;
	font-style: italic;
}
#primary .course-detail .content .left .testimonial .author {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}





































































































